body {
    font-family: Arial, Helvetica, sans-serif
}       

.countdownBox {
    color: black;
    background-color: white;
    padding: 20px;
}

.hoverBox {
    background: lightblue;
    margin: 0 auto;
    margin-top: 10%;
    padding: 20px;
    outline: 1px solid #dddddd;
    overflow: auto;
    width: 75%;
}

.startHidden {
    display: none;
}

a.button {
    appearance: button;
    text-decoration: none;
    color: initial;
}